//timestep/distance/speed/score

function main : void () {
	//vdecls
	Map $gameMap;
	Player $me;
	//stmts
	$gameMap: Map(1024, 768, $generateThis);
	$me : Player("red", "triangle", 20, 20, 500);

	Run($gameMap, $me);
}

function $generateThis: Array () {
	//vdecls
	Array Brick $output;
	Brick $top;
	Brick $bottom;
	//stmts
	$output : Array Brick;

	$top : Brick("red", 20, 1024, 0, 1004);
	$output.push($top);
	$bottom : Brick("red", 20, 1024, 0, 0);
	$output.push($bottom);
	return $output;
}

//Array blocks = [];
//j = 0
//for (int i = 0; i < 500; i++)
//{
//	new Brick(i, 1, j, 0, red);
//	j++;
//}

/*Brick
	-height
	-width
	-x	
	-y
	-color */

