function $retPlayerArray : Array Player (int $total)
{
	Array Player $retArray;
	Array int $vertices;
	Player $p1;
	int $i;

	$vertices : new Array int;
	$vertices[0] : 0;
	$vertices[1] : 0;
	$vertices[2] : 20;
	$vertices[3] : 20;

	$retArray : new Array Player;


	for ($i : 0; $i < $total; $i +: 1){
		$p1 : new Player (255,255,255, $vertices, 0);
		$retArray[$i] : $p1;
	}
	return $retArray;
}

function $main : void ()
{	
	Array Player $playerArray;
	Player $p;

	int $i; int $total;
	$total : 30;

	$playerArray: $retPlayerArray($total);

	$printstring("printing returned array of bricks");
	for ($i : 0; $i < $total; $i +: 1) {
		$p : $playerArray[$i];
		$printstring("");
		$printint($i);
		$printint($p.$colorR);
		$printint($p.$colorG);
		$printint($p.$colorB);
		$printint($p.$y);
	}

}
