
function $generateBoxVerts: Array int (int $x, int $y, int $size)
{
  Array int $box;
  $box : new Array int;

  $box[0] : $x;         $box[1] : $y;
  $box[2] : $x + $size; $box[3] : $y;
  $box[4] : $x + $size; $box[5] : $y + $size;
  $box[6] : $x;         $box[7] : $y + $size;

  return $box;
}

function $generateThis: Array Brick () {

  Brick $b1;
  Brick $b2;
  Brick $b3;

  Array Brick $output;

  int $i;
  $output : new Array Brick;

  $b1 : new Brick(255, 0, 0, $generateBoxVerts(200, 100, 50), 0, 0);
  $b2 : new Brick(0, 255, 0, $generateBoxVerts(200, 300, 50), 0, 0);
  $b3 : new Brick(0, 0, 255, $generateBoxVerts(400, 500, 100), 0, 0);

  $output[0] : $b1;
  $output[1] : $b2;
  $output[2] : $b3;

  return $output;
}

function $main : void () {
  
  Map $gameMap;
  Player $me;
  Array int $pvert;

  $pvert : new Array int;

  $pvert[0] : 30; $pvert[1] : 30;
  $pvert[2] : 40; $pvert[3] : 60;
  $pvert[4] : 50; $pvert[5] : 30;

  $gameMap: new Map(1024, 768, $generateThis);
  $me : new Player(123, 123, 123, $pvert, 30);

  $Run($gameMap, $me);

}