/* Create global Map object */
Array int $c;

function $getPolygonVerts : Array int (int $sx, int $sy, int $size)
{
	Array int $verts;

	$verts : new Array int;

	$verts[0] : $sx			; $verts[1] : $sy;
	$verts[2] : $sx + $size	; $verts[3] : $sy;
	$verts[4] : $sx + $size ; $verts[5] : $sy + $size;
	$verts[6] : $sx + ($size / 2); $verts[7] : $sy + (2 * $size);
	$verts[8] : $sx			; $verts[9] : $sy + $size;

	return $verts;
}

function $generate : Array Brick () {
	Array Brick $brickSet;
	int $len;
	int $size;
	int $startX1; int $startY1;
	int $startX2; int $startY2;
	int $r1; int $g1; int $dist1;
	int $r2; int $g2; int $dist2;
	int $i;

	$brickSet : new Array Brick;
	$len : 5;
	$size : 50;

	$startX1 : 100; $startY1 : 200;
	$startX2 : 500; $startY2 : 0;

	$r1 : 130; $g1 : 130;
	$r2 : 90; $g2 : 90;
	$dist1 : 255 - $r1;
	$dist2 : 255 - $r2;

	for( $i : 0; $i < (2*$len); $i +: 2 )
	{
		$brickSet[$i] : new Brick ($r1 + ($i * $dist1 / $len), 
									$g1 + ($i * $dist1 / $len), 
									255,
									$getPolygonVerts($startX1 + ($i * $size), $startY1 + ($i * $size), $size),
									$startX1 + ($i * $size),
									$startY1 + ($i * $size) );

		$brickSet[$i + 1] : new Brick ($r2 + ($i * $dist2 / $len),
									$g2 + ($i * $dist2 / $len),
									255,
									$getPolygonVerts($startX2 + ($i * $size), $startY2 + ($i * $size), $size),
									$startX2 + ($i * $size),
									$startY2 + ($i * $size) );
	}

	return $brickSet;
}

function $main : void () {
	Map $myMap;
	Player $p;
	Array int $v;

	$v : new Array int;

	$v[0] : 50;
	$v[1] : 50;
	$v[2] : 100;
	$v[3] : 100;
	$v[4] : 50;
	$v[5] : 100;

	$p : new Player(100,100,100,$v,50);
	$myMap : new Map(700,500,$generate);

	$generate();

	$Run($myMap, $p);
}