/* Create basic game with stair like brick obstacles */

function $translateRect : (Array int $arr, int $x, int $y) {
	Array int $temp;
	int $i;

	$temp : new Array int;

	for ($i:0; $i<8; $i+:2){
		$temp[$i] : $arr[$i] + $x;
		$temp[$i+1] : $arr[$i+1] + $y;
	}

	return $temp;
}

function $generate : () {
	Array Brick $br;
	Array int $b;
	Array int $c;
	int $j;

	$b : new Array int;
	$br: new Array Brick;

	$c : new Array int;
	$c[0] : 250;
	$c[1] : 100;
	$c[2] : 350;
	$c[3] : 100;
	$c[4] : 350;
	$c[5] : 200;
	$c[6] : 250;
	$c[7] : 200  ;

	for ($j:0; $j<5; $j+:1){
		$b : $translateRect($c, $j*100+100, $j*50);
		$br[$j] : new Brick (200,150,150,$b,50,50);
	}

	return $br;
}

function $main : () {
	Map $myMap;
	Player $p;
	Array int $v;

	$v : new Array int;

	$v[0] : 75;
	$v[1] : 100;
	$v[2] : 50;
	$v[3] : 150;
	$v[4] : 150;
	$v[5] : 150;
	$v[6] : 100;
	$v[7] : 200;
	$v[8] : 125;
	$v[9] : 100;

	$p : new Player(200,100,100,$v,50);
	$myMap : new Map(700,500,$generate);

	$Run($myMap, $p);
}