Array int $vertices;
Brick $b1;

function $main : void ()
{
	$vertices : new Array int;

	$vertices[0] : 567;
	$vertices[1] : 789;
	$b1 : new Brick(100,150,200,$vertices,20,30);



	$printstring("Should print 100 150 200 20 30");

	$printint($b1.$colorR);
	$printint($b1.$colorG);
	$printint($b1.$colorB);
	$printint($b1.$x);
	$printint($b1.$y);

	$b1.$colorR : 234;
	$b1.$colorG : 12;
	$b1.$colorB : 123;

	$printstring("Should print 234 12 123 20 30");

	$printint($b1.$colorR);
	$printint($b1.$colorG);
	$printint($b1.$colorB);
	$printint($b1.$x);
	$printint($b1.$y);


	$printstring("Should print 567 789");
	$printint($b1.$vertices[0]);
	$printint($b1.$vertices[1]);

}
