/* This tests the ability to push items onto arrays. */

Array string $globalstring;
Array int $globalint;

function $main: () {
	Array int $localint;
	Array string $localstring;

	$Push($localint, 1);
	$Push($localint, 2);
	$Push($localstring, "test3");
	$Push($localstring, "test4");
	$Push($localstring, "test5");

	$Push($globalint, 6);
	$Push($globalint, 7);
	$Push($globalint, 8);
	$Push($globalstring, "test9");
	$Push($globalstring, "test10");
	$Push($globalstring, "test11");
	
	$printstring("Expected: 1 2 test3 test4 test5");
	$printint($localint[0]);
	$printint($localint[1]);
	$printstring($localstring[0]);
	$printstring($localstring[1]);
	$printstring($localstring[2]);

	$printstring("Expected 6 7 8 test9 test10 test11");
	$printint($globalint[0]);
	$printint($globalint[1]);
	$printint($globalint[2]);
	$printstring($globalstring[0]);
	$printstring($globalstring[1]);
	$printstring($globalstring[2]);
	
}