function $retBrick : Brick () {
	Brick $b;
	Array int $vertices;
	$vertices : new Array int;


	$vertices[0] : 400;
	$vertices[1] : 200;
	$vertices[2] : 150;
	$vertices[3] : 300;
	
	$b : new Brick (0,0,0, $vertices, 1, 1);


	return $b;
}


function $main : void ()
{
	Brick $b;
	Array int $vertices;
	$vertices : new Array int;
	$b : $retBrick();

	$printstring("Should print 400 200 150 300");
	$printint ($b.$vertices[0]);
	$printint ($b.$vertices[1]);
	$printint ($b.$vertices[2]);
	$printint ($b.$vertices[3]);


}
