Array string $global;
int $x;

function $main: void() {
	Array int $local;

	//$local : new Array int;
	$x : $GetCurrentScore();
	$printint($x);
	//$Push($global, 0);
	/*$Push($global, 5);
	$Push($local, 2);

	$printstring("Should print \"test\" and \"testing\".");
	$printint($global[0]);
	$printint($global[1]);

	//$printstring("Should print 2.");
	//$printint($local[0]);*/
}