/* Create global Brick object from previously initialized array. 
 	Assign new values to vertices array with '.' referencing.*/

Array int $vertices;
Brick $b1;

function $main : void ()
{
	$vertices : new Array int;

	$vertices[0] : 567;
	$vertices[1] : 420;

	$b1 : new Brick(100,150,200,$vertices,20,30);

	$printstring("Local brick, prints 567 420");
	$printint($b1.$vertices[0]);
	$printint($b1.$vertices[1]);

	$b1.$vertices[0] : 121;
	$b1.$vertices[1] : 408;

	$printstring("Local brick, prints 121 408");
	$printint($b1.$vertices[0]);
	$printint($b1.$vertices[1]);
}
