Array int $brickVertices;

function $generateThis : ()
{
	Array Brick $retArray;
	Array int $brick;
	int $i; int $j; int $x; int $y;

	$retArray : new Array Brick;
	$brickVertices : new Array int;
	$brickVertices[0] : 300; $brickVertices[1] : 50;
	$brickVertices[2] : 300; $brickVertices[3] : 100;
	$brickVertices[4] : 250; $brickVertices[5] : 100;
	

	$x : 50; $y : 50; $j : -50;
	for ($i : 0; $i < 20; $i +: 1) {
		if (($i % 5) = 2) {
			$j *: -1;
		}
		$y +: $j;
		$x +: 50;
		$brick : new Brick (0,0,255,$retArray,$x, $y);
		$retArray[$i] : $brick;
	}
	return $retArray;
}


function $main : ()
{	
	Map $myMap;
	Player $p;
	Array int $v;

	$v : new Array int;
	$v[0] : 50;
	$v[1] : 50;
	$v[2] : 100;
	$v[3] : 100;
	$v[4] : 50;
	$v[5] : 100;

	$p : new Player(100,100,100,$v,50);
	$myMap : new Map(700,500,$generateThis);

	//$generate();

	$Run($myMap, $p);

}
