/* Create global Map object */

Map $myMap;

function $generate : void () {
	$printstring("Generate!");
}

function $main : void ()
{
	$myMap : new Map(700,500,$generate);

	$printstring("Local map, should print 500 700");	
	$printint($myMap.$height);
	$printint($myMap.$width);

	// Reassign values
	$myMap.$height : 600;
	$myMap.$width : $myMap.$height;

	$printstring("Local map, should print 600 600");	
	$printint($myMap.$height);
	$printint($myMap.$width);
}
